# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# PyCharm / JetBrains
.idea/

# Jupyter
.ipynb_checkpoints/

# Environment variables / secrets
.env
.env.*